body {
    width: 100%;
    background-image: url(../img/food.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Dosis', sans-serif;
}
nav {
    background-color: transparent;
}
a {
    color: white;
}
a:hover {
    color: white;
}
#navbarDropdownMenuLink:hover {
font-size: 20px;
}
.dropdown-menu[data-bs-popper] {
    top: 80%;
    left: 2px;
    right: 2px;
    border-radius: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.7);
}
li {
    text-align: center;
}
li:hover {
    background-color: rgb(214, 214, 214);
}
p {
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    text-align: center;
}
sup {
    font-size: 11px;
}
.dropdown-items {
    text-decoration: none;
}
.dropdown-items:hover {
    background-color: rgb(214, 214, 214);
    color: black;
}
.button-clignote {
    animation-duration: 2s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: ease-in-out;
 }
 @keyframes clignoter {
   0%   { opacity:1;
        text-shadow: 1px 0 1px; }
   40%  { opacity:0.8; }
   100% { opacity:1;
        text-shadow: 1px 0 1px; }
 }