body, .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Dosis', sans-serif;
}
h2 {
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 0;
    background-color: rgb(238, 238, 238);
}
nav {
    background-color: transparent;
    color: white;
    height: 5vh;
}

.firstpage {
    background-image: url(../img/food.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

#navbarDropdownMenuLink:hover {
    font-size: 20px;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    border-radius: 0;
    border-bottom: 0.5px solid white;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.dropdown-items {
    text-decoration: none;
    color: black;
}

.dropdown-items:hover {
    color: #141517;
    font-weight: 900;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    color: white;
}

.dropdown-menu li {
    text-align: center;
    border-top: 0.5px solid white;
}

.dropdown-menu li:hover {
    background-color: rgba(214, 214, 214, 0.5);
    box-shadow: 0 0 1px 1px white;
    padding: 5px;
}
#navbarDropdownMenuLink {
    text-align: right;
}

p {
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    text-align: center;
}

sup {
    font-size: 11px;
}

.button-clignote {
    animation-duration: 2s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: ease-in-out;
}

@keyframes clignoter {
    0% {
        opacity: 1;
        text-shadow: 1px 0 2px;
    }

    40% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 2px;
    }
}

img {
    width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

.infos {
    height: 30vh;
}

.carte img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.carte img:hover, .carte:hover img {
    opacity: 1;
}

.carte {
    padding: 0;
    position: relative;
}

.text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}

.description {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}
.description ul li {
    font-size: 20px;
}

.vege {
    background-image: url(../img/vege.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carni {
    background-image: url(../img/carni.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titre {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    margin: 0 15px;
    font-size: 23px;
    font-weight: bold;
}

.vegetitle {
    margin-bottom: 10px;
}